:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  background-color:black;
  color:White;

}

@keyframes fly{
  0% {
    transform: scale(0);
    opacity: 0;
  }
  25% {
    transform: scale(0.25) rotate(90deg);
    opacity: 0.25;
  }
  50% {
    transform: scale(0.5) rotate(270deg);
    opacity: 0.5;
  }
  75% {
    transform: scale(0.75) rotate(90deg);
    opacity: 0.75;
  }
  100% {
  transform: scale(1);
    opacity: 1.0;
  }
}
h1 {
  font-family: serif; 
  color:deeppink; 
  text-align: center;
  animation: fly 4s linear;

}
a {
  color: deepskyblue;
}

img {
  display: block;
  margin: auto; 
  max-width: 100%;
}

@media only screen and (min-width: 768px) {
  img {
    margin: 0px;
  }
}